

body {
        background-image: url(http://www.waves-rsp.org/img/wave.gif);
        background-size: Cover; 
        background-position:center top;
    	/* delete these lines if you want to tile an image */
        background-repeat: no-repeat; 
        background-attachment: fixed;    
	}

#title{
        	font-family: {TitleFont}, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
        	font-weight: bold;
      }



